<div class="col-md-12">
    <ul class="nav nav-tabs">
        <li class="active"><a href="@Url.Action("Index","Admin")">Projects List</a></li>
        <li><a href="@Url.Action("UserLists","Admin")">Users List</a></li>
        <li><a href="@Url.Action("ChangePassword", "Manage")">Change Password</a></li>
    </ul>
</div>
