@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<div class="home-pro">
    <div class="banr-head">
        <div class="container">
            <div class="row">
                <div class="logreg">
                    <div class="login-sec">
                        <div class="uou-tabs">
                            <ul class="tabs">
                                <li class="active"><a href="#log-in">Forgot Password</a></li>
                            </ul>
                            <div class="content">
                                <div id="log-in" class="active">
                                    @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        @Html.TextBoxFor(m => m.Email, new { @type = "email", @placeholder = "Email Address" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        <br />
                                        <button type="submit"><span><i class="fa fa-send"></i> Send Email</span></button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>